<mat-card class="recollection-item" *ngIf="recollection$ | async as recollection">
  <mat-card-header>
    <mat-card-title>
      {{ recollection.itemName }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ recollection.personName }}
    </mat-card-subtitle>
    <div class="spacer"></div>
    <span class="modified-date">
      {{ (recollection.date.seconds * 1000) | date }}
    </span>
    <mat-icon (click)="$event.stopPropagation()">
      {{ recollection.returned ? 'check' : 'repeat' }}
    </mat-icon>
  </mat-card-header>
  <img mat-card-image [src]="recollection.image" alt="Photo of a Shiba Inu">
</mat-card>
